.baic-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    font-weight: 700;
}
.sub-title,
#display-txt,
#author-name{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
}
.style-btn{
    background-color: blue;
    width: 250px;
    height: 80px;
    font-size: 14px;
}
.style-btn:hover{
    background-color: green;
    cursor:default;
}